#!/bin/bash

echo 'Preserve file name: True
Generate HTML: False
Exclude HTML minify: True
Search index exclude: True
Sitemap exclude: True
Menu exclude: True
Link chain exclude: True
Search index exclude: True

' # Part of echo ^

if [ "$PAGEGEN_ENVIRONMENT" = "prod" ]; then

	echo 'DirectoryIndex index
ErrorDocument 404 /404

<IfModule mod_rewrite.c>
  RewriteEngine on 

  # Rewrite favicon.ico
  RewriteRule ^favicon\.ico$ /assets/theme/images/favicon.ico [NC,L]
  RewriteRule ^apple-touch-icon\.png$ /assets/theme/images/pagegen_logo_144x144.png [NC,L]

  # Redirect to https
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# Force text/html for all files
<FilesMatch "^[^.]+$">
#<FilesMatch "\.*">
  ForceType text/html
</FilesMatch>

# Use default type for files that have an extension
#<FilesMatch "\.[a-zA-Z0-9]{1,4}$">
#  ForceType none
#</FilesMatch>
'
fi

if [ "$PAGEGEN_ENVIRONMENT" = "prod" ]; then

	echo 'ExpiresActive On
ExpiresDefault "access plus 60 seconds"
ExpiresByType text/html "now plus 1 day"
ExpiresByType image/x-icon "now plus 1 month"
ExpiresByType image/gif "now plus 1 month"
ExpiresByType image/jpeg "now plus 1 month"
ExpiresByType image/png "now plus 1 month"
ExpiresByType text/css "now plus 1 month"
ExpiresByType multipart/x-gzip "now plus 1 month"
ExpiresByType text/javascript "now plus 1 month"
ExpiresByType application/javascript "now plus 1 month"
ExpiresByType application/xml "now plus 1 day"
ExpiresByType application/rss+xml "now plus 1 day"
'

fi

