html {
  -webkit-text-size-adjust: 100%; }

body {
  background-color: #FCFDFF; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  vertical-align: baseline;
  color: #3E4349;
  font-family: Helvetica,sans-serif;
  line-height: 1em; }

ul {
  list-style-type: square; }

#page {
  margin: 0 auto;
  width: 940px; }

#sidebar {
  position: fixed;
  width: 290px;
  overflow-y: auto;
  max-height: 100%; }

#sidebar-content {
  width: calc($sidebar-width - 100%); }

#content {
  float: right;
  width: 590px; }

article.no-title {
  padding-top: 2em; }

#top-bar a {
  border: none; }

#hamburger {
  display: block;
  margin: .2em;
  font-size: 1.2em;
  float: right; }

#top-bar svg {
  height: 1em;
  width: auto;
  margin: .3em 0 .3em .5em;
  display: inline-block; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#footer {
  text-align: right;
  margin: 2em auto;
  font-size: 13px;
  line-height: 20px; }

#footer a {
  border: none; }

#footer img {
  position: relative;
  top: 1px; }

#top-bar {
  display: none; }

@media screen and (max-width: 940px) {
  article.no-title {
    padding-top: 1em !important; }
  .side-content {
    width: unset !important;
    margin: 1em 0 !important;
    float: none !important;
    clear: both; }
  #blurb, #page-logo {
    display: none !important; }
  h1.first {
    margin: 1.5em 0 .8em 0 !important; }
  #top-bar {
    background-color: #EEE;
    height: 2em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block; }
  #footer {
    text-align: center !important; }
  #sidebar {
    width: 100%;
    position: static !important;
    padding-right: 0;
    display: none; }
  #sidebar-content {
    width: 290px;
    margin: 1em auto; }
  #content {
    margin: 2em auto;
    float: none;
    padding: 0 1.8em;
    width: unset; }
  #page {
    width: 100%; }
  #sidebar ol {
    width: 290px;
    margin: 0 auto !important; } }

#page-logo {
  display: block;
  margin: 2em 60px 1em;
  border: none;
  width: 160px;
  color: #3E4349; }

#page-logo:hover {
  color: #000; }

#sidebar ol {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 1em; }

div#menu > ol {
  margin-left: 0; }

#sidebar li {
  line-height: 2em;
  margin-left: 1em;
  margin-bottom: .4em;
  white-space: nowrap; }

#blurb {
  width: 260px;
  margin: .6em 10px 1em 10px;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  padding: 1em 0;
  font-size: 1.1em;
  display: block;
  text-align: center; }

#blurb span {
  font-size: .8em;
  color: #3E4349;
  font-style: italic; }

#sidebar ol a {
  border-bottom: 1px dotted #444;
  text-decoration: none;
  color: #444; }

#sidebar ol a:hover {
  color: #000;
  border-bottom-color: #000; }

p {
  line-height: 1.4em;
  margin: 1em 0; }

hr {
  border: none;
  border-top: 1px dotted #444;
  margin: 1em 0; }

a {
  border-bottom: 1px dotted #444;
  text-decoration: none;
  color: #444; }

a:hover {
  color: #000;
  border-bottom-color: #000; }

.admonition {
  margin: 1em 0;
  padding: .6em 2em;
  background-color: #EEE;
  border: 1px solid #CCC; }

.admonition p {
  margin: 0 0 .2em 0; }

.admonition-title {
  font-size: 1.6em; }

h1, h2, h3, h4 {
  font-family: Tahoma, sans-serif;
  font-weight: normal;
  margin: 1.2em 0 .6em 0; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h1.first {
  margin: .2em 0 1em 0;
  clear: both; }

pre, .pre-lookalike {
  line-height: 1.4em;
  margin: 1em 0;
  padding: .6em 1em;
  background-color: #EEE;
  font-family: 'Courier New', monospace;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 3px; }

code {
  font-family: 'Courier New', monospace; }

blockquote {
  line-height: 1.4em;
  margin: .6em 1em;
  padding: .6em 1em;
  background-color: #EEE; }

ul, ol {
  margin: .6em 0;
  padding-left: 1em; }

li {
  line-height: 1.8em; }

dl {
  margin: .6em 0;
  padding-left: 2em; }

dt {
  font-weight: bold; }

dd {
  margin: .6em 2em 1em 2em; }

table {
  margin: .6em 1.6em;
  border-collapse: collapse; }

th {
  border-bottom: 1px dotted #999;
  text-align: left; }

td, th {
  padding: .4em; }

a.image-reference {
  border: none; }

i.sub-menu-toggle {
  margin-left: .2em;
  cursor: pointer; }

#pagegen-current-page {
  font-weight: bold; }

#previous-link {
  float: left;
  display: inline-block; }

#previous-link i {
  margin-right: .6em; }

#next-link {
  float: right;
  display: inline-block; }

#next-link i {
  margin-left: .6em; }

#previous-link a, #next-link a {
  border-bottom: none; }

.prev-next-links {
  margin: 2em 0 3em 0; }

#project-info {
  list-style: none;
  margin: 1em 0 !important; }

#project-info li {
  line-height: 1.8em; }

#menu {
  margin-bottom: 1.5em; }

.github-button-container {
  margin: .8em 1em 2em 1em;
  width: 100px; }

.side-content {
  width: 280px;
  margin: 0 0 1em 1em;
  float: right;
  background-color: #EEE;
  border: 1px solid #CCC;
  text-align: center;
  padding: 1em; }

.side-content h2 {
  margin: 0 0 .2em 0; }

.side-content pre {
  background-color: #333;
  color: #ddd; }

#footer-logo svg {
  height: 16px;
  width: 72.7px;
  display: inline-block; }

#footer-logo a {
  color: #3E4349; }

#footer-logo:hover {
  color: #000; }

#search-query {
  max-width: 180px;
  border: solid 1px #999;
  border-radius: 3px 0 0 3px;
  padding: 4px; }

#search-submit {
  max-width: 56px;
  margin-left: -5px;
  border: solid 1px #999;
  border-radius: 0 3px 3px 0;
  padding: 4px; }

#search-form form {
  display: block;
  margin: 2em 1em;
  width: calc($sidebar-width - 100%); }

.search-hit {
  line-height: 2.5em;
  margin-bottom: 1em; }

.search-hit a {
  font-weight: bold; }

.search-hit p {
  margin: 0; }

#hit-count {
  margin-bottom: 1em;
  font-style: italic; }

#search-query:focus {
  outline: none; }

tt, tt span, code {
  background-color: #EEE;
  padding: .2em;
  font-family: 'Courier New', monospace;
  font-size: .9em;
  border-radius: 1px; }

.admonition tt, .admonition span.pre, .admonition code {
  background-color: #CCC; }
