#hamburger { cursor: pointer; float: right; width: 32px; height: 32px; background-position: -676px 0px; }
.menu_shown { background-position: -708px 0px !important; background-color: #577492; border-top-left-radius: .2em; border-top-right-radius: .2em;}
li.sub_menu ul { display: none; }
span.sub_menu_toggle { cursor: pointer; display: inline-block; width: 16px; height: 16px; background-position: -192px 0px; margin-left: 1em;}
span.sub_menu_shown { background-position: -288px 0px !important; }
#menu a { text-decoration: none; color: #D4D8D1;}
#menu li>span:hover{ background-color: #AA9A66; }
#menu li>span{display: block; padding: .5em 1em .5em 0;}
#menu { display: none; background-color: #577492; border-bottom-left-radius: .2em; border-bottom-right-radius: .2em; }
/* First level */
#menu > ul > li > span > a { padding-left: 1em; }
#menu > ul > li > ul > li > span > a { padding-left: 2em; }
#menu > ul > li > ul > li > ul > li > span > a { padding-left: 3em; }
#menu > ul > li > ul > li > ul > li > ul > li > span > a { padding-left: 4em; }
#menu > ul > li > ul > li > ul > li > ul > li > ul > li > span > a { padding-left: 5em; }
/* Sixth level */
#menu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > span > a { padding-left: 6em; }
.crumb_trail_separator { margin: 0 .5em; }
#crumb_trail li:first-child { visibility: hidden; width: 0px; }
#crumb_trail li { display: inline-block; vertical-align: middle; line-height: 32px; }
#crumb_trail { padding-left: -.5em; display: inline-block;}
#crumb_trail a { text-decoration: none; color: #577492; }

/*#crumb_trail li.home a { color: transparent; } */