#hamburger { cursor: pointer; float: right; margin-right: .5em; width: 32px; height: 32px; background-position: -64px 0px;}
.menu_shown { background-position: 0px 0px !important; }
li.sub_menu ul { display: none; }
span.sub_menu_toggle { cursor: pointer; float: right; width: 16px; height: 16px; background-position: -208px 0px;}
span.sub_menu_shown { background-position: -304px 0px !important; }
#menu li>span:hover{ background-color: pink; }
#menu li>span{display: block; padding: .5em 1em .5em 0;}
#menu { display: none; background-color: #CCC; }
/* First level */
#menu > ul > li > span > a { padding-left: 1em; }
#menu > ul > li > ul > li > span > a { padding-left: 2em; }
#menu > ul > li > ul > li > ul > li > span > a { padding-left: 3em; }
#menu > ul > li > ul > li > ul > li > ul > li > span > a { padding-left: 4em; }
#menu > ul > li > ul > li > ul > li > ul > li > ul > li > span > a { padding-left: 5em; }
/* Sixth level */
#menu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > span > a { padding-left: 6em; }
.crumb_trail_separator { margin: 0 .5em; }
#crumb_trail a { text-decoration: none; }
#crumb_trail li { display: inline; vertical-align: middle; line-height: 32px; }
#crumb_trail { background-color: lime; padding-left: .5em; }
#crumb_trail a.home {display: inline-block; width: 32px; height: 32px; background-position: -128px 0px; color: transparent; } 